@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import 'normalize.scss';

body {
  background-color:  #F6F6F9;
  -webkit-font-smoothing: antialiased;
  opacity: 1;
}

body, input, button {
  font: 16px 'Roboto', sans-serif;
}

.hidden-md {
  display: none;
}

.hidden-xs {
  display: block;
}

@media only screen and (max-width: 769px) {
  .hidden-md {
    display: block;
  }

  .hidden-xs {
    display: none;
  }
}
