header {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 1px 1px 9px #00000026;
  opacity: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 20px;

  .button {
    button {
      min-width: 124px;
    }

    a:first-child button {
      color: #2196F3;
      margin-right: 15px;
    }

    a:last-child button {
      background-color: #1767E5;
    }
  }
}


@media only screen and (max-width: 769px) {
  header {
    .button {
      display: contents;
    }
  }
}
